*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#header{
    padding: 25px;
    margin: 0px;
    background-color: gray;
}

#header a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    transition: 0.5s;
}

p{
    font-size: 15px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#software{
    width: 35%;
}
#hardware{
    width: 25%;
}